NVIDIA_API_KEY=nvapi-your-key-here
TELEGRAM_BOT_TOKEN=8902642942:AAHbLDB1iC7qLrEBLeuG-pk3rR_GlUbpgOk
TELEGRAM_ALLOWED_CHAT_IDS=8952278702
BASE_URL=https://integrate.api.nvidia.com/v1
MODEL_NAME=meta/muse-glimmer-30b
